<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        객체 생성
            kor = sample01.MessageBeanKorImpl();
            eng = sample01.MessageBeanEngImpl();
        scope="prototype" 속성은 지연초기화 (객체를 미리 만들지 않고 매법 새로운 객체를만든다) -->
    <bean class="sample01.MessageBeanKorImpl" id="kor" scope="prototype"/>
    <bean class="sample01.MessageBeanEngImpl" id="eng" scope="prototype"/>
    <bean class="sample01.MessageBeanEngImpl" id="eng2" scope="prototype"/>
</beans>