<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- 객체생성 -->
	<bean class="kosta.test.audio.AudioImpl" id="target1" />
	<bean class="kosta.test.tv.TvImpl" id="target2" />
	<bean class="kosta.test.video.VideoImpl" id="target3" />
	<bean class="kosta.test.advice.LogAdvice" id="advice" />
	
	<!-- aop설정 -->
	<aop:config>
		<aop:pointcut expression="execution(* kosta.test.*.*Impl.*(..))" id="pointCut"/>
		<aop:aspect id="aspect" ref="advice">
			<aop:around method="around" pointcut-ref="pointCut" />
		</aop:aspect>
	</aop:config>
</beans>
