<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<!-- @Required를 위한 선언 -->
	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" /> -->
	<!-- @Autowired를 위한 선 -->
	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" /> -->
	
	<!-- 
		* RequiredAnnotationBeanPostProcessor
 		* AutowiredAnnotationBeanPostProcessor
 		* CommonAnnotationBeanPostProcessor
	 -->
	<context:annotation-config />

	<bean class="sample09.EmpDTO" id="dto">
		<property name="empno" value="100" />
		<qualifier value="test" />
	</bean>
	<bean class="sample09.EmpDTO" id="empDTO">
		<property name="empno" value="200" />
	</bean>
	<bean class="sample09.EmpService" id="service" />
	<bean class="sample09.EmpController" id="controller" />
	<bean class="sample09.ResourceBean" id="resourceBean" />
</beans>
