<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="sample04.StudentController" id="controller">
        <property name="service" ref="service"/>
        <property name="student" ref="student"/>
    </bean>
    <bean class="sample04.Student" id="student">
        <property name="name" value="이름이다 이름이름"/>
        <property name="no" value="12"/>
        <property name="phone" value="전화전화전화전화전"/>
        <property name="addr" value="주소주소주소주소주"/>
    </bean>
    <bean class="sample04.StudentServiceImpl" id="service">
        <property name="studentDAO" ref="dao"/>
    </bean>
    <bean class="sample04.StudentDAOImpl" id="dao"/>
</beans>